<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nugetproxy" value="https://artifacts.dips.local/artifactory/api/nuget/v3/nuget-remote" protocolVersion="3" />
    <add key="DIPS-Dev" value="https://artifacts.dips.local/api/nuget/DIPS-Dev" />
  </packageSources>
</configuration>
